{
  "presets": [
    "@babel/preset-env",
    "@ava/stage-4"
  ],
  "env": {
    "development": {
      "plugins": [
        "istanbul",
        "@babel/plugin-transform-class-properties"
      ],
      "minified": false
    },
    "production": {
      "plugins": [],
      "minified": true
    }
  }
}
